.textTop{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0px;
}
.tableMatchs td, th{
    background-color: #fff;
}
.tableMatchs{
    border-spacing: 0px;
    font-size: 1rem;
    width: 100%;
}
.contentTable{
   
    padding: 40px;
    font-size: 11px;
    font-weight: bold;
    padding-top: 0px;
}
.containerTable{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    min-height: 12rem;
    overflow: auto;
    background-image: url(/src/assets/cardbg1.jpg);
    max-height: 12rem;
    background-size: cover;
    margin-bottom: 5rem;
}